.btn_pseudoclase {
    background-color: #fff;
    color: rgb(242, 100, 2);
    border: 2px solid rgb(242, 100, 2);
    border-radius: 0;
    padding: 10px;
    transition: 0.3s ease;
}

.btn_pseudoclase:hover, .btn_pseudoclase:active {
    color: #ffffff !important;
    background-color: rgb(242, 100, 2) !important;
    border: 2px solid rgb(242, 100, 2) !important;
    box-shadow: none;
}

.form {
    background-color: #fab81b !important;
    color: rgb(249, 245, 225);
}

.transform {
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    transform: scale(0);
}

.transform.active {
    opacity: 1;
    transform: scale(1);
}
