header > * {
    background-color: rgba(39,39,43,.85);
    text-align: center;
}

.navbar_toggler_icon {
    color: #dad7d6;
    background-color: #dad7d6;;
}

.navbar__logo {
    width: 75px;
}

.navbar-collapse {
    transition: 1s;
}

.nav_link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-weight: bolder !important;
    color: rgb(170, 170, 171) !important;
}

.nav_link:hover {
    color: rgb(250, 184, 27) !important;
}

.nav_link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(250, 184, 27);
    transition: width 0.3s ease;
}

.nav_link:hover::before {
    width: 100%;
}
