.button {
    background-color: #fff;
    color: rgb(242, 100, 2);
    font-weight: 400 !important;
    border: 1px solid rgb(242, 100, 2);
    border-radius: 0;
    padding: 5px;
}
.currentPage {
    background-color: rgb(242, 100, 2);
    color: #fff;
}

.text_color {
    color: #f9f5e1;
}

main {
    background-color: #1c1c1e !important;
}
